.hero-text {
    position: relative;
}

#id {
    width: 0ch;
    display: inline-block;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    /* font-size: 24px; */
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(18) 1s infinite alternate;
}

#line {
    display: inline-block;
    position: relative;
    color: rgb(71, 56, 37);
    font-weight: 200;
    font-size: 50px;
    /* animation: crow 0.5s linear 0s infinite; */
    /* animation: crow 0.5s linear infinite; */
    animation: blink 0.5s steps(1) infinite, syncTyping 2s steps(18) 1s infinite alternate;
    vertical-align: bottom;
}

@keyframes typing {
    from {
        width: 0ch;
    }
    to {
        width: 18ch;
    }
}

@keyframes crow {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes syncTyping { /* sikronisai animasi */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* saat di hover maka akan ada efek merah */ 
/* hanya bagian navbar */

.navbar-brand:hover {
    color: white !important;
    border-bottom: 1.5px solid white;

    transition: 0.50s ease;
    text-shadow: 
        -3px -3px 10px red,
        3px 3px 10px red,
        -3px -3px 10px red,
        3px 3px 10px red;
}

.navbar-brand::before {
    margin: 0;
    padding: 0; /* memulai ukuran pading dari nol*/
    background-color: white;
    transition: width 0.3s ease left 0.3s ease-in-out; /* animasi bootom */
}

.navbar-nav > .nav-item > .nav-link:hover {
    color: red; /* biyar di tangkat pdi perjuangan */
    transition: 0.50s ease;
    font-weight: 510 !important;
    
    border-bottom: 1.5px solid white;
    text-shadow: 
        -3px -3px 10px white,
        3px 3px 10px white,
        -3px -3px 10px white,
        3px 3px 10px white;
}
